{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 style="padding-top: 40px">Product</h1>

    <table class="table">
        <tbody>
            <tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ product.image }}" class="produit"></td>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description | raw }}</td>
            </tr>
            <tr>
                <th>Compo et Entretien</th>
                <td>{{ product.compoEntretien }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">
    <button class="btn btn-dark">Back to list</button>
    </a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">
    <button class="btn btn-dark" style="margin-left:20px">Edit</button>
    </a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
{% block footer %}{% endblock %}