<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
       <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand animated" href="{{ path('home') }}" style="font-size:52px; padding-left:30px">B G S</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link animated fadeIn " href="{{ path('shop') }}">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animated fadeIn " href="{{ path('ourStory') }}">OUR STORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animated fadeIn" href="{{ path('about') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animated fadeIn" href="{{ path('contact') }}">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <span style="font-size:25px">
    <ul class="navbar-nav mx-auto">
    <div>
    <li class="nav-item">
        </form>
    </li>
    </div>
    {% if app.user %}
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left:28px; padding-right:28px; margin-right:20px">
    My account !
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('profile') }}">Profile</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="dropdown-item" href="{{ path('user_index') }}">Admin User</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('product_index') }}">Admin Product</a>
    <a class="dropdown-item" href="{{ path('product_new') }}">Add New Products</a>
    {% endif %}
    <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
      {# <a class="dropdown-item" href="{{ path('user_unsubscribe') }}">Unsubscribe</a> #}
  </div>
</div>
    {% else %}
    <li class="nav-item">
    <a href="{{ path('app_login') }}">
    <i class="fas fa-user-circle"></i>
    </a>
    </li>
    {% endif %}
    <li class="nav-item">
    <a href="{{ path('showPanier') }}">
    <i class="fas fa-cart-arrow-down">
     {% if app.session.get('qte_items') is defined and app.session.get('qte_items')  > 0  %}
      {{ app.session.get('qte_items')}}
    {% endif %}
    </i>
    </a>
    </li>
    </ul>
    </span>
    </form>
  </div>
</nav>
<div class="container">

{% for label, messages in app.flashes %}
  <div class="container">
    <div class="alert alert-{{ label }}">
      {% for message in messages %}
          <p>{{ message }}</p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% endblock %}
        {% block body %}{% endblock %}
</div>
{% block footer %}
<footer class="footer">
<div class="jumbotron bg-light border-bottom-0 border-left-0 border-right-0" style="text-align:center; padding-top:40px; padding-bottom:40px; margin-bottom:0px">
  <h5 class="display-5">Don't forget to say hello !</h5>
  <span style="font-size:30px">
  <a href="https://www.facebook.com/pages/creation/?ref_type=sitefooter">
  <i class="fab fa-facebook-f" style="padding-right:25px"></i>
  </a>
  <a href="https://twitter.com/?lang=fr">
  <i class="fab fa-twitter" style="padding-right:20px"></i>
  </a>
  <a href="https://www.instagram.com/?hl=en">
  <i class="fab fa-instagram"></i>
  </a>

  </span>
</div>
</footer>
{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src={{ asset("public/js/animate.js") }}></script>

    <script type="text/javascript"> 
    $(document).ready(function()
        {
            if($('.produit').mouseenter())
            {
                $(this).removeClass("bounceInRight");
                $(this).addClass("zoomIn");
            };
        });
    </script>


    </body>
</html>
