{% extends 'base.html.twig' %}

{% block title %}User Reset Password page{% endblock %}

{% block body %}
<div class="container">
{# <div class="row">
<div class="col-3 text-center">
{{dump(user)}}
    <img src="{{user.picture}}" class="avatar mb-3" alt="Avatar de {{user.firstName}}">
</div>
</div>
    <h1 style="padding-top: 40px"> {{user.firstName}} {{user.lastName}} </h1> #}

{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit" class="btn btn-primary">Save modifications !</button>

{{ form_end(form) }}
</div>

{% endblock %}